// .card-body {
//     background-color: pink;
// }


.border {
    border: black 1px;
    min-height: 300px;
     width: 30%;
}

.modified {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    width: 100%;
    border: solid black 5px;
    margin: 5px 0;
    & img {
        height: auto;
        width: 30%;  
        object-fit: cover;  
    }

    & .body {
        width: 70%;
        
        & .title {
            text-align: left;
            position: relative;

        }
        & #quantity {
            position: absolute;
            right: 0;
            padding-right: 10px;
        }

        & #price {
            position: absolute;
            right: 0;
            padding-right: 10px;
            padding-top: 10px;
            top: 30%;
        }

        & .text {
            padding: 10px 5px 1px 5px;
            text-align: justify;
            // height: 50px;
            // white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            
            
        }
    }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss"